.alert.alert-warning #[strong Perhatian:] #[br] Aplikasi ini cuma untuk hiburan. Bukan buat ramal-ramalan. Jadi, gunakan dengan bijak. Oke?
form
  .form-group
    .progress
      .progress-bar.progress-bar-default
    p Kekuatan jodoh #[span.kekuatan 0]%
  .form-group
    label Namamu
    input.form-control.namamu
  .form-group
    label Nama dia
    input.form-control.nama-dia